{%extends "_base.html" %}
{% block content %}
    <div class="container" style="position: relative">
        <div class="right_menu">
            <p>
                <a href="/">
                    <span class="glyphicon glyphicon-plus" style="margin-top: 20px;"></span>
                </a>
            </p>
            {% if is_author %}
                <p>
                    <a href="change/">
                        <span class="glyphicon glyphicon-pencil" style="margin-top: 20px;"></span>
                    </a>
                </p>
                <p>
                    <a href="delete/" onclick="return confirm('Действительно хотите удалить статью? Это действие необратимо.')">
                        <span class="glyphicon glyphicon-trash" style="margin-top: 20px;"></span>
                    </a>
                </p>
            {% endif %}
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <div class="text-center">
                    <h3>{{ article.title }}</h3>
                </div>
                <div style="margin-top: 40px; margin-bottom: 30px; white-space: pre-wrap">{{ article.text }}</div>
                <div class="text-right">{{ article.signature }}</div>
            </div>
        </div>
    </div>
{% endblock %}
