{% extends "_base.html" %}
{% block content %}
    <div class="container" style="position: relative">
        <div class="right_menu">
            <a href="/">
                <span class="glyphicon glyphicon-plus" style="margin-top: 20px;"></span>
            </a>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <div class="text-center">
                    <h1>403</h1>
                    <h2>Доступ запрещён</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}