<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}">
</head>
<body>
    <div class="container-fluid" style="background-color: black; height: 50px; width: 100%; position: fixed; z-index: 3">
        <div class="navbar-brand" style="padding-top: 0">
            <img src="{{ url_for('static', filename='img/anonymus-logo.jpg') }}" style="height: inherit">
        </div>
        <div style="color: gray">
            <h3>Анонграф</h3>
        </div>
    </div>

    <div class="container" style="position: relative">
        <div class="right_menu">
            <a href="/">
                <span class="glyphicon glyphicon-plus" style="margin-top: 20px;"></span>
            </a>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <div class="text-center">
                    <h1>404</h1>
                    <h2>Страница не найдена</h2>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>