{% extends "_base.html" %}
{% from "form_helper.html" import render_title_field, render_signature_field, render_text_field %}
{% block content %}
    <div class="container col-md-8 col-md-offset-2">
        <div class="jumbotron">
            <div class="text-center" style="margin-bottom: 50px">
                <h4>Поделитесь вашими мыслями анонимно!</h4>
            </div>
            <form method="POST">
                {{ form.csrf_token }}
                {{ render_title_field(form.title) }}
                {{ render_signature_field(form.signature) }}
                {{ render_text_field(form.text) }}
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Опубликовать</button>
                </div>
            </form>
        </div>
    </div><!-- /.container -->
{% endblock %}
